:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0bff12;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


/* login_page */
.container{
  display: flex;

}

.bg_container{
  width: 40%;
  background: url("/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.main_container{
  width: 60%;
  direction: rtl;

}
@media (max-width: 600px) {
  .container{
    flex-direction: column;
    align-items: center;
  }
}